*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-bottom: 100px;
}
footer{
    background-color: black;
}
/* COMMON */
.fontgrey{
    color: lightgrey;
}

.white{
    color: white;
}

.padding-10{
    padding:0 10px;
}

.bottom-100{
    margin-bottom: 100px;
}
.margin-50{
    margin: 50px;
}
.c-grey{
    background-color: #f5f5f5;
}

.font-45{
    font-size: 45px;
}
.border-grey{
    border: 1px solid lightgrey;
}
.d-flex{
    display: flex;
}

.margin-25{
    margin-top: 25px;
}
button{
    color: white;
    background-color: #0061ff;
    border: none;
}

.align-center{
    align-items: center;
}
.d-end{
    justify-content: flex-end;
}
ul{
    width: 100%;
    display: flex;
    list-style: none;
}
li{
    padding: 10px;
    display: flex;
}

.d-block{
    display: block;
}

.bottom-60{
    margin-bottom: 60px;
}

/* HEADER */
header{
    color: #858585;
}
.container{
    display: flex;
}    
.nav{
    width: 100%;
    height: 100%;
    display: flex;
}


.start{
    padding: 6px;
    margin: 2px auto;
}

.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
}
.container2{
    max-width: 1400px;
    margin: 0 auto;
}

.content1{
    width: 100%;
    font-size: 40px;
    padding: 60px 0;
}

.content2{
    width: 100%;
    display: flex;
    gap:10px 20px;
}

.blue{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 150%;
}
.green{
    width: 75%;
    height: 500px;
}

.jumbo{
    width: 100%;
} 

.arrow{
    font-size: 40px;
    margin-bottom: 10px;
}
/* button jumbo */
.b2{
     padding: 13px;
     margin-left: 0;
     margin-right: 90px;
}

/* business offer */
.container3{
    max-width: 1200px;
    margin: 100px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px;
}

.col-33{
    width: calc(100% / 3 - 40px);
}

.col-100{
    width: 100%;
}

.col-60{
    width: calc(60% - 40px)
}

.col-40{
    width: calc(40% - 40px);
}

.content3{
    min-height: 1055px;
    border: 1px solid lightgray;

}

h2{
    font-size: 40px;
    margin: 60px auto;
}

hr{
    margin: 30px;
    width: 50px;
}

.radio{
    margin: 0px auto;
}

.icon{
    width: 24px;
    margin-right: 13px;
    margin-left: 0;
    height: 24px;
}

.icon-build{
    width: 20px;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 ;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.plan{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.plan-list{
    flex-direction: column;
    margin: 25px 0;
}

h5{
    font-size: 25px;
}

.month{
    color: lightgrey;
    margin: 20px 0;
}

.advantages{
    margin: 10px 0;
    
}

.b-advantages{
    margin-top: 30px;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 30px;
}

u{
    color: blue;
}

.enterprise{
    width: 60%;
    
}

.contact{
    width: 40%;
    text-align: end;
}

.description-plan{
    padding: 60px 0 30px;
}

.b-contact{
    margin: 30px;
    font-size: 15px;
    padding: 15px 50px;
}

.partner{
    width: auto;
    margin: 0;
    height: 600px;
}

.title-partner{
    margin: 60px 0 30px;
}

.p-partner{
    margin-bottom: 30px;
    font-size: 18px;
}

.b-partner{
    padding: 13px;
    font-size: 19px;
    color: #3a3a3a;
    background-color: white;
    border: 2px solid #3a3a3a;
}

.content3-partner{
    margin: 30px;
    padding: 0 20px;
}

.row-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.col-33b {
    width: calc(100% / 3 - 20px);
}


.cover-skills{
    width: 100%;
}

.title-skills{
    margin: 20px 0 35px;
}

.width-60{
    width:60% ;
    margin: 150px 0 30px;
}

.container-full{
    width: 100%;
    margin-top: 150px;
}

.row-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-33c{
    width: calc(100% / 3);
}

.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.square{
    width: 50%;
    height: calc(100vw / 6);
}

.c-yellow{
    background-color:#ff1c1c;
}

.dimension{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-green{
    background-color: #a2d39b;
    border: 21px solid #d1e9cd;
}
.img1{
    width: 60%;
}
.img3{
    width: 60%;
    height: 15%;
}

.c-blue{
    background-color: #0093ce;
}

.c-red{
    background-color: #61082b;
}

.team{
    filter: invert(100%);
}
.c-greenb{
    background-color: #d5001f;
}
.c-redb{
    background-color: #b4d0e7;
}

.c-blueb{
    background-color: #0d2481;
}

.c-yellowb{
    background-color: #ffd830;
}

.designit{
    font-size: 80px;
    position: relative;
}

.reg{
    position: absolute;
    font-size: 23px;
    right: 332px;
    top: 9px;
    
}

.company{
    font-size: 20px;
    font-weight: 600;
}

b{
    font-weight: bolder;
}

.r2{
    margin: 50px;
    width: 50px;
}

.cit{
    display: block;
    font-size: 20px;
}

.container3-2{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0;
}
.b-business{
    border: none;
    background-color: white;
    color: black;
    padding: 12px 30px;
}

.font-red{
    color: #61082b;
}

.faq{
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.downarrow{
    width: 20px;
}

.col-20{
    width: calc(100% / 5);
    margin-top: 100px;
}

.title-foot{
    margin: 40px 20px;
}

.globe{
    padding: 0 5px;
}

.languages{
    margin: 45px 0;
}

.foot-list{
    margin: 25px 0 100px;
    flex-direction: column;
}

.hr-foot{
    margin: 20px;
    width: 100px;
}
